# frida-server 二进制文件不入库，各自替换
files/frida-server-arm64
files/frida-server-arm
files/frida-server-x86
files/frida-server-x86_64

# 打包产物
MagiskFrida-custom.zip
MagiskFrida-*.zip

# 系统文件
.DS_Store
Thumbs.db
__pycache__/
*.pyc
